Repository mlevkov/vector, changes with the owners that .github/CODEOWNERS names for each.
All owners: @binarylogic, @jamtur01, @hovebear, @MOZGIII, @lukesteensen, @bruceg, @fanatid

wip
  Cargo.toml
  src/internal_events/apache_metrics.rs
  src/internal_events/mod.rs
  src/sources/apache_metrics/mod.rs
  src/sources/apache_metrics/parser.rs
  src/sources/mod.rs
Owners: none

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: scripts/ci-docker-images/verifier-ubuntu-14-04/Dockerfile to reduce vulnerabilities
  scripts/ci-docker-images/verifier-ubuntu-14-04/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile to reduce vulnerabilities
  scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile to reduce vulnerabilities
  scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: skaffold/docker/Dockerfile to reduce vulnerabilities
  skaffold/docker/Dockerfile
Owners: @MOZGIII

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: skaffold/docker/Dockerfile to reduce vulnerabilities
  skaffold/docker/Dockerfile
Owners: @MOZGIII

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: scripts/Gemfile to reduce vulnerabilities
  scripts/Gemfile
Owners: none

fix: skaffold/docker/Dockerfile to reduce vulnerabilities
  skaffold/docker/Dockerfile
Owners: @MOZGIII

fix: skaffold/docker/Dockerfile to reduce vulnerabilities
  skaffold/docker/Dockerfile
Owners: @MOZGIII

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/debian/Dockerfile to reduce vulnerabilities
  distribution/docker/debian/Dockerfile
Owners: @hovebear, @jamtur01

fix: skaffold/docker/Dockerfile to reduce vulnerabilities
  skaffold/docker/Dockerfile
Owners: @MOZGIII

fix: scripts/Gemfile to reduce vulnerabilities
  scripts/Gemfile
Owners: none

fix: scripts/Gemfile to reduce vulnerabilities
  scripts/Gemfile
Owners: none

fix: skaffold/docker/Dockerfile to reduce vulnerabilities
  skaffold/docker/Dockerfile
Owners: @MOZGIII

fix: scripts/Gemfile & scripts/Gemfile.lock to reduce vulnerabilities
  scripts/Gemfile
  scripts/Gemfile.lock
Owners: none

fix: scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile to reduce vulnerabilities
  scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile to reduce vulnerabilities
  scripts/ci-docker-images/verifier-ubuntu-16-04/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: scripts/Gemfile & scripts/Gemfile.lock to reduce vulnerabilities
  scripts/Gemfile
  scripts/Gemfile.lock
Owners: none

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

fix: distribution/docker/alpine/Dockerfile to reduce vulnerabilities
  distribution/docker/alpine/Dockerfile
Owners: @hovebear, @jamtur01

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

PRIVACY.md @binarylogic @jamtur01
LICENSE @binarylogic @jamtur01
CONTRIBUTING.md @binarylogic @jamtur01
CODE_OF_CONDUCT.md @binarylogic @jamtur01
NOTICE @binarylogic @jamtur01
SECURITY.md @binarylogic @jamtur01

.github/workflows./* @jamtur01
.github/semantic* @binarylogic @jamtur01
.github/SUPPORT.md @binarylogic @jamtur01
.github/PULL_REQUEST_TEMPLATE.md @binarylogic @jamtur01
.github/ISSUE_TEMPLATE/* @binarylogic @jamtur01

/distribution/ @hovebear @jamtur01
/distribution/kubernetes/ @MOZGIII
/distribution/helm/ @MOZGIII

/proto/ @lukesteensen

/scripts/build-* @hovebear
/scripts/ci-docker-images/ @hovebear @jamtur01
/scripts/check-* @jamtur01
/scripts/docker-* @jamtur01
/scripts/environment/* @hovebear @jamtur01
/scripts/generate* @binarylogic
/scripts/package-* @hovebear
/scripts/release-* @hovebear
/scripts/upgrade-* @hovebear
/scripts/ci-setup-minikube.sh @MOZGIII
/scripts/ci-setup-helm.sh @MOZGIII
/scripts/release-helm.sh @MOZGIII
/scripts/deploy-kubernetes-test.sh @MOZGIII
/scripts/test-e2e-kubernetes.sh @MOZGIII

/src/buffers/
/src/kubernetes/ @MOZGIII

/src/generate.rs
/src/list.rs
/src/metrics.rs @lukesteensen
/src/main.rs @lukesteensen
/src/region.rs @bruceg
/src/template.rs @lukesteensen
/src/tls @bruceg
/src/trace.rs
/src/types.rs @bruceg
/src/line_agg.rs @MOZGIII

/src/sinks/*_metrics.rs @lukesteensen
/src/sinks/aws_kinesis_streams.rs
/src/sinks/aws_s3.rs
/src/sinks/blackhole.rs
/src/sinks/clickhouse.rs
/src/sinks/console.rs @lukesteensen
/src/sinks/elasticsearch.rs
/src/sinks/gcp @bruceg
/src/sinks/http.rs
/src/sinks/kafka.rs @lukesteensen
/src/sinks/prometheus.rs @lukesteensen
/src/sinks/splunk_hec.rs @lukesteensen
/src/sinks/statsd.rs @lukesteensen
/src/sinks/tcp.rs @bruceg
/src/sinks/tcp.rs @lukesteensen
/src/sinks/util/auto_concurrency @bruceg

/src/sources/docker.rs @fanatid
/src/sources/file.rs
/src/sources/generator.rs @bruceg
/src/sources/journald.rs @bruceg
/src/sources/kafka.rs
/src/sources/stdin.rs @bruceg
/src/sources/syslog.rs @lukesteensen
/src/sources/tcp.rs @bruceg
/src/sources/udp.rs @bruceg
/src/sources/vector.rs @lukesteensen
/src/sources/util/multiline_config.rs @MOZGIII
/src/sources/kubernetes_logs/ @MOZGIII

/src/topology/ @lukesteensen

/src/transforms/add_fields.rs
/src/transforms/add_tags.rs @lukesteensen
/src/transforms/ansi_stripper.rs @lukesteensen
/src/transforms/coercer.rs @bruceg
/src/transforms/filter.rs @bruceg
/src/transforms/field_filter.rs @lukesteensen
/src/transforms/geoip.rs @lukesteensen
/src/transforms/grok_parser.rs @lukesteensen
/src/transforms/json_parser.rs
/src/transforms/log_to_metric.rs @lukesteensen
/src/transforms/lua/
/src/transforms/merge.rs @MOZGIII
/src/transforms/regex_parser.rs @lukesteensen
/src/transforms/remove_fields.rs
/src/transforms/remove_tags.rs @lukesteensen
/src/transforms/sampler.rs @lukesteensen
/src/transforms/split.rs @lukesteensen
/src/transforms/tokenzier.rs @lukesteensen

/src/event/merge.rs @MOZGIII
/src/event/merge_state.rs @MOZGIII
/src/event/discriminant.rs @MOZGIII

/lib/file-source/src/paths_provider/mod.rs @MOZGIII
/lib/file-source/src/paths_provider/glob.rs @MOZGIII

/lib/k8s-test-framework/ @MOZGIII

/tests/buffering.rs @MOZGIII
/tests/kubernetes-e2e.rs @MOZGIII

/.github/workflows/e2e.yml @MOZGIII

/skaffold/ @MOZGIII
/skaffold.yaml @MOZGIII
/kustomization.yaml @MOZGIII
